<% provide(:title, 'About') %>

<h1 class='enter col-md-12 col-sm-12 col-xs-12' style='font-size: 4em; margin-bottom:2vw;'>
    Gail Shaffer Blankenau
</h1>
</br>
<div>
    <p class='bio col-md-12 col-sm-12 col-xs-12'><span style="display:inline-block; width: 7vw;"></span>is a professional genealogist, speaker and author, specializing in German genealogy, land records, and lineage research. She first became interested in family history by looking for treasures in the attic when she was growing up. As a teenager, she started labeling old family photographs and things progressed from there.
    </p>
    <p class='bio col-md-12 col-sm-12 col-xs-12'><span style="display:inline-block; width: 7vw;"></span>
    As a professional, some of her recent client projects have taken her to Salt Lake City, Utah, Maryland, Pennsylvania, Colorado, Illinois, Texas and Missouri, as well as numerous projects in Nebraska. Her own roots are from almost every state east of the Mississippi. 
    </p>
    <p class='bio col-md-12 col-sm-12 col-xs-12'><span style="display:inline-block; width: 7vw;"></span>
    In addition to performing private client research, Gail enjoys speaking and writing about genealogy. Her articles have appeared in the New England Historical and Genealogical Register, The Genealogist, Everton’s Genealogical Helper, The National Genealogical Society magazine, Family Chronicle, Internet Genealogy, The Ohio Genealogical Society Quarterly and Nebraska Ancestree. </p>
    </p>
</div>
<div class='bio-img'>
        <%= image_tag('bio-img.png') %>
</div>