<div class='container' style='display: flex; align-items: center; flex-direction: column;'>
    <div class='enter' style='margin-top: 80px; max-width: 1000px'>
        For any questions you may have or services, you can reach Gail by <a href='mailto:gblankenau@discoverfamilyhistory.com'>Email</a>
    </div>
    <div class='enter'>
        Or you can follow Gail on
        <a href='https://www.facebook.com/discoveringfamilyhistory/'>Facebook</a> and <a href='https://twitter.com/GailBlankenau'>Twitter</a>!
    </div>
</div>
