<div class='col-md-12 col-sm-12 col-xs-12 center'>
    <h1 class='enter port-title col-md-12 col-sm-12 col-xs-12 '>
        Discover Family History
    </h1>
     <center>
         <%= image_tag('family.jpg', :class => 'enter-img') %>
    </center>
    <div class='port col-md-12 col-sm-12 col-xs-12 '>
        <div class='port-hover col-md-12 col-sm-12 col-xs-12 '>
             <div class='port1 col-md-12 col-sm-12 col-xs-12 '><%= image_tag('enter.png', :class => 'port-img enter port-logo') %></div>
             <div class='port2 port-link col-md-12 col-sm-12 col-xs-12 '><%= link_to('Enter' , home_path, :class => 'enter') %></div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(function() {
        $("header, footer").hide();
    });
</script>