<% provide(:title, 'Home') %>
<div class='container landing col-md-12 col-sm-12 col-xs-12'>
    <div class='gail-img col-md-5 col-sm-6 col-xs-7'>
        <%= image_tag('gail.png') =%>
    </div>
    <div class='col-md-7 col-sm-12 col-xs-12 pull-right' style='margin-top: 5vw;'>
        <a href='/contact' class='enter pull-right container col-md-12 col-sm-12 col-xs-12'>Gail Shaffer Blankenau always works as the genealogist that she would want to hire.</a>
    </div>
</div>
<div style='margin-top:30px;' class='container col-md-12 col-sm-12 col-xs-12'>
    <h3 class='enter link'>"Gail has been the star of every conference I've hosted. I wouldn't think about hosting a genealogical event without her; she is always the first person I call." </h3>
    <h1 style='text-align:right;'>-Blake Bell, historian from the </br>National Homestead Monument</h1>
</div>
<div class='container center col-md-12 col-sm-12 col-xs-12'>
    <p class='para'>
        As a professional genealogist, Gail believes in following the Association of Professional Genealogists 
        <a class='link' href='https://www.apgen.org/ethics/index.html'>Code of Ethics</a> to provide people with the highest quality genealogical service avaliable today.
    </p>
</div>