<% provide(:title, 'Resume') %>
<div class='container col-md-12 col-sm-12 col-xs-12'>
    <h1 class='enter'>Specialties Include:</h1>
    <div class='link resume-holder col-md-12 col-sm-12 col-xs-12'>
       <ul>
          <div class='col-md-6'>
            <li class='list'>Land records and how to use them</li>
            <li class='list'>German Parish Records</li>
            <li class='list'>Researching ancestors with common names</li>
            <li class='list'>Internet research</li>
          </div>
          <div class='col-md-6'>
            <li class='list'>Problem-solving techniques</li>
            <li class='list'>Researching the poor and obscure</li>
            <li class='list'>Dating and identifying 19th century photographs</li>
            <li class='list'>Nebraska genealogy</li> 
          </div>
      </ul>
    </div>
    <div class='nav center webinar resume col-md-12 col-sm-12 col-xs-12'>
            <h3 class='link' style='margin-top:-1px;'>Webinars Available Through <a class='legacy' href='http://www.familytreewebinars.com/gailblankenau'>Legacy Family Tree</a></h3>
            
            <li class='nav'><a href ='https://familytreewebinars.com/download.php?webinar_id=273'>Stories in Stone, Cemetery Research</a></li>
            <li class='nav'><a href ='https://familytreewebinars.com/download.php?webinar_id=408'>Using German Parish Records</a></li>
            <li class='nav'><a href ='https://familytreewebinars.com/download.php?webinar_id=409'>Digging Deeper in German Parish Records</a></li>
            <li class='nav'><a href ='https://familytreewebinars.com/download.php?webinar_id=314'>Germans from Russia</a></li>
            <li class='nav'><a href ='https://familytreewebinars.com/download.php?webinar_id=309'>Women Homesteaders and Genealogy</a></li>
            <li class='nav'><a href ='https://familytreewebinars.com/download.php?webinar_id=520'>Reading German Script</a></li>
    </div>  
        
    <h1 class='enter resume'>Lectures:</h1>
    <div class='resume-holder'>
        <ul>
            <li>Using Land Records, Lincoln Family History Center Oct 2008 & October 2009</li>
            <li>Dating and Identifying 19th Century Photos, Eastridge Presbyterian Church, October 2009</li>
            <li>Using Land Records, Platte County Historical Society, February 2010</li>
            <li>Getting Students Published, Nebraska Association for the Gifted State Conference, February 18, 2009</li>
            <li>Dating and Identifying 19th Century Photos, Platte County Historical Society, Columbus, September 2010</li>
            <li>Featured Speaker, Iowa State Genealogy Conference, Des Moines, Iowa, October 2010</li>
            <li>Beginning Genealogy, Family History Month Speaker for National Homestead Monument, October 2010</li>
            <li>Dating and Identifying 19th Century Photos, Feature Speaker Cass County Historical Society annual meeting.</li>
            <li>Using Land Records, Lincoln-Lancaster County Genealogy Society November 2010</li>
            <li>Main Speaker, Nebraska State Genealogical Conference, May 2011</li>
            <li>Main Speaker, Homestead National Monument, two-day conference July 2011</li>
            <li>September 17, 2011-Dating and Identifying your 19th-Century Photographs, Omaha Public Library</li>
            <li>March 25, 2014, Keeping up with the Smiths...and Joneses -- Forth Worth Genealogical Society, Fort Worth, Texas.</li>
            <li>April 1, 2014, Beginning Genealogy 101 -- The Bluffs Center, Council Bluffs, Iowa.</li>
            <li>June 28, 2014, Using German Parish Records -- seminar, Greater Omaha Genealogical Society, German Interest Group, Omaha Nebraska.</li>
            <li>July 12, 2014, Using German Parish Records (Part 1), International Convention of the American Historical Society of Germans from Russia, Lincoln, Nebraska. </li>
            <li>July 19, 2014, Rich Resources for Poor Ancestors, Omaha Public Library Summer Genealogy Series, Omaha, Nebraska </li>
            <li>October 16, 2014, Tumbleweeds in the Window -- Women Homesteaders, Nebraska Museum of History Brown Bag Lecture Series, Lincoln, Nebraska. </li>
            <li>July 12, 2014, Using German Parish Records, International Convention of the American Historical Society of Germans from Russia.</li>
            <li>March 28, 2015. Osher Lifelong Learning Institute (OLLI), University of Nebraska-Lincoln, Finding Your Germanic Ancestral Village </li>
            <li>April 17-18 2015. Main Speaker, Sioux Valley Genealogical Society, 27 June 2015, Stories in Stone, Omaha Public Library</li>
            <li>Sep 9, 2015, Nickerson Family – Nickerson Family Meeting, Plimouth Plantation, Massachusetts</li>
            <li>May 18, 2016, Finding Your Germanic Home Town, University of Nebraska, Love Library</li>
            <li>August 2016, Find Your Roots in German Farm Histories, Germanic Genealogy Day,  Omaha, Nebraska</li>
            <li>October 2016, Platte Valley Kin Seekers, Keeping up with the Smiths and Joneses, Columbus, Nebraska</li>
            <li>January 14, 2017, German Parish Records, live webinar for Wabash Valley Genealogy Society</li>
            <li>10 Feb 2017, Deciphering German Script, Legacy Family Tree webinar 1:00 p.m. Central</li>
            <li>29 April 2017, Researching Nebraska online, Nebraska State Genealogical Society conference, Lincoln</li>
            
            <h3 class='enter link para'>Scheduled For 2017:</h3>
            
            <li>June 10, 2017, The Good, the Bad and the Ugly, Citation and Evidence, UN-L Genealogy Day.</li>
            <li>June 15 2017, Take All to Nebraska – How they Came, Nebraska State Historical Society brown bag series.</li>
            <li>July 14-15, 2017, Land Records and Genealogy Symposium, Homestead National Monument of America, Beatrice, Nebraska. On panel for Germanic genealogy, presentation on migration into Nebraska.</li>
            <li>July 28-30, 2017, Introduction to using German Parish Records and Top Tips in Reading German Parish Records, German-American Genealogical Partnership, 2017 International Conference, Minneapolis, MN</li>
        </ul>
    </div>
    <div>
        <h1 class='enter resume'>Previous Engagements:</h1>
        <div class='resume-holder'>
            <ul>
               <li>February 2010, Using Land Records, Platte County Historical Society, Columbus, Nebraska</li>
               <li>September 2010, Dating and Identifying 19th-Century Photographs, Cass County Historical Society, Plattsmouth, Nebraska</li>
               <li>October 2010, Main Speaker, Iowa State Genealogy Society Conference, Des Moines October 2010, Beginning Genealogy, Family History Month Speaker for National Homestead Monument, Beatrice, Nebraka. November 2010, Using Land Records, Lincoln-Lancaster County Genealogical Society, Union College Auditorium, Lincoln, Nebraska</li>
               <li>May 6-7, 2011, Main Speaker for the Nebraska State Genealogical Society Conference, in Nebraska City, Nebraska—Introduction to German Parish Records, Keeping up with the Joneses..and Smiths, Break Through Using Land Records, Rich Resources for Poor Ancestors, Dating and Identifying you 19th-Century Photographs</li>
               <li>July 15-16, 2011—Main Speaker at Homestead National Monument two-day land records conference, Beatrice, Nebraska</li>
               <li>September 17, 2011-Dating and Identifying your 19th-Century Photographs, Omaha Public Library March 25, 2014, Keeping up with the Smiths...and Joneses -- Forth Worth Genealogical Society, Fort Worth, Texas</li>
               <li>April 1, 2014, Beginning Genealogy 101 -- The Bluffs Center, Council Bluffs, Iowa</li>
               <li>June 28, 2014, Using German Parish Records -- seminar, Greater Omaha Genealogical Society, German Interest Group, Omaha Nebraska</li>
               <li>July 12, 2014, Using German Parish Records (Part 1), International Convention of the American Historical Society of Germans from Russia, Lincoln, Nebraska</li> 
               <li>July 19, 2014, Rich Resources for Poor Ancestors, Omaha Public Library Summer Genealogy Series, Omaha, Nebraska</li>
               <li>October 16, 2014, Tumbleweeds in the Window -- Women Homesteaders, Nebraska Museum of History Brown Bag Lecture Series, Lincoln, Nebraska</li> 
               <li>March 28, 2015, Osher Lifelong Learning Institute (OLLI), University of Nebraska-Lincoln, Finding Your Germanic Ancestral Village</li>
               <li>April 17-18 2015, Main Speaker, Sioux Valley Genealogical Society</li>
               <li>27 June 2015, Stories in Stone, Omaha Public Library</li>
               <li>August 2015, Germanic Genealogy Day, Omaha, Nebraska</li>
               <li>Sep 9, 2015, Nickerson Family – Nickerson Family Meeting, Plimouth Plantation, Massachusetts</li> 
               <li>May 18, 2016, Finding Your Germanic Home Town, University of Nebraska, Love Library</li>
            </ul>
        </div>
    </div>
    
    <h1 class='enter resume'>Publications:</h1>
    <div class='resume-holder'>
        <ul>
            <li>"Women Homesteaders," National Genealogy Society Magazine, 2014
        
            <li>"Sergeant John Smith of Rhode Island, with Descendants in Early Ohio." The Genealogist, Vol. 26, No. 1, (Spring 2012).
            <li>“Beyond The Stage,” The Lieder, Fall 2010 
            
            <li>Prayer Cards and Funeral Cards in Genealogy, Nebraska Ancestree , 2012</li>
            <li>"April Fool's for Genealogists, "Family Chronicle, Mar/Apr 2010</li>
            <li>"Portraits from the Past," Internet Genealogy, Apr/May 2010</li>
            <li>“Table Inspirations,” The Lieder, Spring 2009</li>
            <li>"Some Descendants of Nathaniel Mead of Greenwich, Connecticut, through his son Josiah Mead," New England Genealogical Historical Register, Jan 2009 - three parts</li>
            <li>“Golf Across Nebraska,” The Lieder, Spring, 2007</li>
            <li>“The Train,” The Lieder, Spring 2007</li>
            <li>“Outstanding Contribution to the Arts,” The Lieder, Summer 2008</li>
            <li>"Abraham Daniels Family Bible with annotations," Ohio Genealogical Quarterly Vol. 48, No. 3. Sep 2008 p. 161-162</li>
            <li>"Rich Resources for Poor Ancestors," Family Chronicle, (Nov/Dec 2008), Moorshead Ltd., Canada</li>
            <li>"Using German Parish Records," Everton's Genealogical Helper, (January 2009) Logan UT, Everton Publishers</li>
            <li>"Signature Style," Family Chronicle, (Mar/Apr 2009), Moorshead Ltd., Canada</li>
            <li>"When the Irises Bloom," Family Chronicle,(Jul/Aug 2009), Moorshead Ltd</li>
            <li>"Keeping Up with the Smiths," Family Chronicle, (Sep/Oct 2009) Moorshead Ltd</li>
            <li>"19th-Century Photos: How to Spot a Copy," Family Chronicle,Nov/Dec 2009</li>
            <li>"New Patented Trenching Process Provides Environmentally Sound Alternative," U. S. Water News, September 2005</li>
            <li>"Shell Game," Lapidary Journal, May 1996</li>
            <li>"Racing Season Here," Star City Sports, May 1994</li>
            <li>“Checkmate,” Hopscotch for Girls, 1994</li>
            <li>"Country Churches," Rural Electric Nebraskan, Dec 1994</li>
            <li>"What's in a Name?" Nebraska Alumnus, Winter 1993</li>
            <li>"The Story Behind the Name," Rural Electric Nebraskan, March 1993</li>
            <li>"Return to the Wild," NebraskaLand, March 1993</li>
            <li>"It Started with a Stove," Country Victorian Accents, June 1992</li>
        </ul>
    </div>
</div>

