<% provide(:title, 'My Services') %>
<div class='col-xs-12'>
    <div class='col-md-12'>
    <h1 class='enter' style='margin-top: 5vw;'>Research Services include:</h1>
    <div style='margin-top: 30px; font-size: 15px;' class='bio resume-holder'><span style="display:inline-block; width: 10vw;"></span>
    <ul>
        <li>Review of information provided by client</li>
        <li>Formulation of work plan​</li>
        <li>Research and analysis​</li>
        <li>Written report of findings, including negative findings​</li>
        <li>Recommendations for future research​</li>
        <li>Document evaluation</li>
    </ul>
        Hourly Fee: $60.00 per hour for services described above, with a deposit that represents 50% of the authorized amount ($30), which would be applied to the authorized research. Research time includes travel, telephone and e-mail consultations with client. Negative findings and unsuccessful searches are charged. Research will begin upon receipt of the deposit.
        </div>
    
    <div class='col-md-12'>
    </div>
    <h1 class='enter'>Photo Services include:</h1>
    <p style='margin-top: 30px;' class='bio resume-holder'><span style="display:inline-block; width: 10vw;"></span>I will examine each photograph to determine the closest possible date the photograph was produced. Close attention will be paid to clothing, hairstyles and props narrow down its age. Children and adult men can be the most difficult to identify so the more details you include about your photograph, the better. In addition to style clues, the format in which your photograph was produced can be quite helpful. You will receive a one-to-two-page analysis for each photo you submit for identification. The document will include a comprehensive summary and the results of my analysis. You may submit an original photograph; however, this might be difficult, so scans are also acceptable. If you submit a scan, you should scan the original at least 200 dpi (dots per inch) in color (card stock color can yield clues). Scan the entire image front out to the edges. Scan the entire image back to the edges. Submit all information you have or have been told about your photograph. Even a detail such as, “I found this in a box with other photos that were from my grandmother’s side of the family,” can help. Any family information including birth, death, marriage dates for family members, occupations and places of residence are relevant. The fee for this service is $35 per photo, with a discount for two photos of $30 each, and three or more are $25 each.</p>
    <div>
    </div class='col-md-12'>
    <h1 class='enter'>Speaking Conditions:</h1>
    <div style='margin-left: 5vw;'>
       <ul>
        <li>All topics delivered with PowerPoint</li>
        <li>May need microphone depending on size of audience</li>
        <li>Will develop lectures on specific topics</li>
        <li>Will travel</li>
        <li>Home housing not accepted</li>
        <li>Will provide hand-out masters for duplication</li>
       </ul>
    </div>
    
    <h3 style='margin-top: 100px;' class='enter'>To inquire about services,
        <%= link_to 'Send me a message', contact_path %>
    </h3>
</div>