<% if message.email == current_user.email %>
<div class='container col-md-8 pull-right col-sm-8 col-xs-11'>
    <div class='col-md-12 col-sm-12 col-xs-12 pull-right message-holder'>
        <div class='col-md-6 col-sm-6 col-xs-6 name'>
            <p class='col-md-10 col-sm-12 col-xs-12' style='padding:10px;'>
                <%= link_to message.name, user_path(current_user), 
                                          title: 'User Profile' %> </br>
            </p>
        </div>  
         <div class='col-md-11 col-sm-12 col-xs-12 contact-message'>
            <p class='col-md-10 col-sm-10 col-xs-12'style='padding:10px;'>
                <%= message.message %>
            </p>
        </div> 
        <div class='delete holder pull-right col-md-2 col-sm-2 col-xs-5'>
            <%= link_to 'Delete', message, method: :delete,
                                      data: { confirm: 'You sure?' } %>
        </div>
<% else %>
<div class='container col-md-10 col-sm-10 col-xs-12'>
    <div class='col-md-11 col-sm-10 col-xs-12 pull-left message-holder'>
        <div class='col-md-9 col-sm-9 col-xs-9 message name'>
            <p class='col-md-10 col-sm-12 col-xs-12 delete' 
               style='padding:10px;'>
                Name: <%= link_to message.name, client_path(message.client), 
                          title: 'Client Profile' %> </br>
                Email: <%= message.email %> </br>
                Phone: <%= message.phone %> </br>
                Organization: <%= message.organization_type %> </br>
                Service: <%= message.service_type %> </br>
            </p>
        </div>
         <div class='col-md-12 col-sm-12 col-xs-12 pull-left 
                     contact-message content'>
            <% if message.read == true %>
                <%= image_tag('check.png', 
                    :class => 'col-md-1 col-sm-2 check-img') =%>
            <% end %>
            <div class='col-md-10 col-sm-10 col-xs-10'>
                <p class='col-md-12 col-sm-12 col-xs-12' style='padding:10px;'>
                    <%= message.message %>
                </p>
            </div>
        </div> 
        <div class='col-md-2 col-sm-2 col-xs-12 center task-bubble'>
            <% if message.read == false %>
                <%= form_for(message) do |f| %>
                  <%= f.hidden_field :read, value: true %>
                  <%= f.submit 'Read Message', :class=> "client task-bubble link", 
                                       title: 'Read Message' %>
                <% end %>
            <% else %>
                <%= form_for(message) do |f| %>
                  <%= f.hidden_field :read, value: false %>
                  <%= f.submit 'Unread Message', :class=> "client task-bubble link", 
                      title: 'Unread Message' %>
                <% end %>
            <% end %>
        </div>
        <div class='delete holder message pull-right 
                    col-md-3 col-sm-3 col-xs-5'>
            <%= link_to 'Reply |', message_path(message.client), 
                                   title: 'Reply to Client' %>
            <%= link_to 'Delete', message, method: :delete,
                                  data: { confirm: 'You sure?' }, 
                                  title: 'Delete Client' %>
        </div>
      <% end %>
    </div>
</div>
     