<% provide(:title, 'Messages') %>
<div class='container col-md-12 col-sm-12 col-xs-12'>
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <h1 class='enter'>Messages</h1>
    </div>
    <div class='col-md-2 col-sm-4 col-xs-4'>
        <h3 class='para link pull-left'>Unread (<%= Message.where.not(read: true, email: current_user.email).count %>)</h3>
    </div>
    <div class='col-md-5 col-sm-4 col-xs-4 pull-right'>
        <div class='pull-right para'>
            <%= link_to '+', messages_new_path, title: 'New Message' %>
        </div>
    </div>
    <div class='col-md-12 col-sm-10 col-xs-12 holder'>
        <div class='container message-holder col-md-11 col-sm-12 col-xs-12'>
            <% if @messages.count == 0 %>
                <h3 class='col-md-12 col-sm-11 col-xs-12 para client center'>All messages have been read</h3>
            <% else %>
                <%= will_paginate %>
                
                <%= render @messages %>
                
                <%= will_paginate %>
            <% end %>
        </div>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12 pull-left'>
        <h3 class='para link pull-left'>All Messages (<%= Message.where.not(email: current_user.email).count %>)</h3>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12 holder'>
        <div class='container message-holder col-md-11 col-sm-12 col-xs-12'>
            <% if @messagesAll.count == 0 %>
                <h3 class='col-md-12 col-sm-11 col-xs-12 para client center'>No Messages</h3>
            <% else %>
                <%= will_paginate %>
                
                <%= render @messagesAll %>
                
                <%= will_paginate %>
            <% end %>
        </div>
    </div>
</div>