<% provide(:title, 'Messages with ' + @client.name) %>
<div class='pull-left'>
    <%= link_to 'All Messages', messages_url %>
</div></br>
<h1 class='enter col-md-12 col-sm-12 col-xs-12'>Messages with <%= @client.name %></h1>
<% if @client.messages.count == 0 %>
    <h3 class='col-md-12 col-sm-11 col-xs-12 para client center'>
        No Messages
    </h3>
<% else %>
    <%= render 'messages/chat' %>
<% end %>    
<%= render 'shared/message_reply' %>
