<% provide(:title, @user.name) %>
<div class='containter user col-md-12 col-sm-12 col-xs-12'>
  <div class='user_info name col-md-12 col-sm-12 col-xs-12'>
    <h3 class='link enter center'>
      <%= @user.name %>
    </h3>
  </div>
  <div class='nav col-md-12 col-sm-12 col-xs-12'>
    <li class='nav link'>
      <%= link_to 'Clients', clients_path %> (<%= Client.where("DATE(created_at) = DATE(?)", Date.today - 1).count %> New Clients) 
    </li>
    <li class='nav link'>
      <%= link_to 'Messages', messages_path %> (<%= Message.where.not(email: current_user.email, read: true).count %> Unread)
    </liv>
    <li class='nav link'>
      <%= link_to 'Bills', bills_path %> (<%= Bill.where(paid: false).count %> Due)
    </li>
    <li class='nav link'>
      <%= link_to 'Documents', documents_path %> (<%= Document.count %>)
    </li>
  </div>
</div>