<div align='center' class='form'>
  <div class='pull-left'>
    <%= link_to 'All Bills', bills_url %>
  </div></br>
  <h1>
      <% if @bill.client == nil %>
      New Bill 
    <% else %>
      Edit bill for <%= @bill.client.name %>
    <% end %>
  </h1>
  <%= form_for(@bill) do |f| %>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <%= render 'shared/error_messages', object: f.object %>
      <% if @bill.client == nil %>
        <div class='col-md-12 col-sm-12 col-xs-12 center'>
          <%= f.label 'Client: ', :class => 'form-label'%>
          <%= f.collection_select :client_id, Client.all, :id, :name, :selected => params[:format] %>
        </div></br>
      <% else %>
          <%= hidden_field :client_id, value: @bill.client.id %>
      <% end %>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :sent, :class => 'form-label'%></br>
        <%= f.select :sent, [['No', 0], ['Yes', 1]], :class => 'form-input'%>
        </br>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :total, :class => 'form-label'%></br>
        <%= f.text_field :total, :class => 'form-input', :required => true %>
        </br>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :paid, :class => 'form-label'%></br>
        <%= f.select :paid, [['No', 0], ['Yes', 1]], :class => 'form-input'%>
        </br>
      </div>
    </div>
    <div class='center col-md-12 col-sm-12 col-xs-12'>
      <%= f.label :comments, :class => 'form-label' %>
      </br>
      <%= f.text_area :comments, :class => 'text-input form-input', :as => :text  %>
      <div>
      </br>
      <%= f.submit 'Send', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>