<div align='center' class='form'>
  <div class='pull-left'>
    <%= link_to 'All Clients', clients_url %>
  </div></br>
  <h1>
    <% if @client.name == nil %>
      New Client
    <% else %>
      Edit <%= @client.name %>
    <% end %>
  </h1>
  <%= form_for(@client) do |f| %>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :name, :class => 'form-label'%></br>
        <%= f.text_field :name, :class => 'form-input', :required => true %>
        </br>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :phone, :class => 'form-label'%></br>
        <%= f.text_field :phone, :class => 'form-input', :required => true %>
        </br>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :email, :class => 'form-label'%></br>
        <%= f.text_field :email, :class => 'form-input', :required => true %>
        </br>
      </div>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :relation, :class => 'form-label'%></br>
        <%= f.text_field :relation, :class => 'form-input' %>
        </br>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :amount_billed, :class => 'form-label'%></br>
        <%= f.text_field :amount_billed, :class => 'form-input' %>
        </br>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :billing_status, :class => 'form-label'%></br>
        <%= f.select :billing_status, ['Paid', 'Due', 'Past Due', 'No Billing'], :class => 'form-input'%>
        </br>
      </div>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <%= f.label :previous_work, :class => 'form-label' %>
      </br>
      <%= f.text_area :previous_work, :class => 'text-input form-input', :as => :text  %>
      <div>
        </br>
        <%= f.submit 'Send', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
