<div align='center' class='form'>
  <div class='pull-left'>
    <%= link_to 'All Documents', documents_url %>
  </div></br>
  <h1>
    <% if @document.name == nil %>
      New Document
    <% else %>
      Edit Document
    <% end %>
  </h1>
  <%= form_for @document, multiple: true do |f| %>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :name, :class => 'form-label'%></br>
        <%= f.text_field :name, :class => 'form-input', :required => true %>
      </div>
      <div class='center col-md-4'>
        Document for: <%= f.collection_select(:client_id, Client.all, :id, :name, {:prompt => 'Select a Client'})%>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
        <%= f.label :upload_document, :class => 'form-label'%></br>
        <%= f.file_field :img %>
        <% if f.object.img? %>
          <%= image_tag f.object.img.url %>
          <%= f.label :remove_img %>
          <%= f.check_box :remove_img %> 
        <% end %>
      </div>
    </div></br>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <%= f.label :tags, :class => 'form-label' %> (Seperate each tag with a comma)
      </br>
      <%= f.text_area :tags, :class => 'text-input form-input', :as => :text  %>
      <div>
        </br>
        <%= f.submit 'Send', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>