<div align="center" style='margin-top: 80px;'>
  <h1>Contact Me</h1>
  <div class='form'>
    <%= form_for(@message) do |f| %>
      <div class='col-md-12'>
        <div class='col-md-4'>
          <%= f.label :name, :class => 'form-label'%></br>
          <%= f.text_field :name, :class => 'form-input', :required => true %>
          </br>
        </div>
        <div class='col-md-4'>
          <%= f.label :phone, :class => 'form-label'%></br>
          <%= f.text_field :phone, :class => 'form-input', :required => true %>
          </br>
        </div>
        <div class='col-md-4'>
          <%= f.label :email, :class => 'form-label'%></br>
          <%= f.text_field :email, :class => 'form-input', :required => true %>
          </br>
        </div>
      </div>
      <div class='col-md-12'>
        <div class='col-md-6'>
          <%= f.label :organization_type, :class => 'form-label'%></br>
          <%= f.select :organization_type, ['Personal Inquiry', 'Small Business', 'Large Business', 'Non-Profit', 'College or University', 'Geneological', 'Research Lab'], :class => 'form-input'%>
          </br>
        </div>
        <div class='col-md-6'>
          <%= f.label :service_type, :class => 'form-label'%></br>
          <%= f.select :service_type, ['Photo Dating', 'Genelogical Research', 'Speaking'], :class => 'form-input'%>
          </br>
        </div>
      </div>
      <%= f.label :message, :class => 'form-label' %>
      </br>
      <%= f.text_area :message, :class => 'form-input', :as => :text, :required => true, size: "60x10"  %>
      <div>
        </br>
        <%= f.submit 'Send', :class=> "btn btn-primary" %>
    <% end %>
  </div>
</div>