<div align="center col-md-12 col-sm-12 col-xs-12">
  <div class='form center col-md-12 col-sm-12 col-xs-12'>
    <h1 class='enter'>New Message</h1>
    <%= form_for(@reply) do |f| %>
      </br>
      <%= f.hidden_field :name, :value => current_user.name %>
      <%= f.hidden_field :email, :value => current_user.email %>
      <%= f.hidden_field :phone, :value => '5555555555' %>
      <% if @client == nil %>
      <div class='center col-md-12'>
        To: <%= f.collection_select :client_id, Client.all, :id, :name %>
      </div>
      <% else %>
        <%= f.hidden_field :client_id, :value => @client.id %>
      <% end %>
      <div class='col-md-12 col-sm-12 col-xs-12'>
        <%= f.text_area :message, :class => 'form-input text-input', 
                                  :as => :text, :required => true  %>  
      </div>
      </br>
      <%= f.submit 'Send', :class=> "btn btn-primary" %>
    <% end %>
  </div>
</div>