<%= form_for(message) do |f| %>
  <%= f.hidden_field :read, value: 
      (if message.read = false 
          true
      else 
          false
      end) %>
  <%= f.submit message.read, :class=> "btn btn-primary" %>
<% end %>