<div class='col-md-12 col-sm-12 col-xs-12 center client-holder'>
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <h1 class='col-md-5 col-sm-5 col-xs-12' style='margin-left: 5px'>
            <%= link_to client.name, client_path(client), 
                                     title: "Client's Profile" %>
        </h1>
        <h3 class='pull-right col-md-3'>
            <%= link_to 'Messages', messages_show_path(client.id), 
                                    title: "Client's Messages" %> 
             (<%= client.messages.count %>) 
        </h3>
        <h3 class='pull-right col-md-2'>
            <%= link_to 'Bills', bills_show_path(client.id), 
                title: "Client's Bills" %> (<%= client.bills.count %>)
        </h3>
        <div class='container pull-right buffer name 
                    col-md-10 col-sm-10 col-xs-12'>
            <div class='container col-md-4 col-sm-7 col-xs-12'>
                <div class='holder col-md-8 col-sm-5 col-xs-12'>
                    Email: 
                </div> 
                <div class='client col-md-12 col-sm-12 col-xs-11'>
                    <%= client.email %>
                </div>
            </div>
            <div class='container col-md-3 col-sm-5 col-xs-12'>
                <div class='holder col-md-8 col-sm-5 col-xs-12'>
                    Phone: 
                </div>
                <div class='client col-md-12 col-sm-12 col-xs-11'>
                    <%= client.phone %>
                </div>
            </div>
            <% if client.relation then %>
                <div class='container col-md-4 col-sm-5 col-xs-12'>
                    <div class='holder col-md-8 col-sm-8 col-xs-12'>
                        Relation: 
                    </div>
                    <div class='client col-md-12 col-sm-12 col-xs-11'>
                        <% if client.relation == '' %>
                            Not Specified
                        <% else %>
                            <%= client.relation %>
                        <% end %>
                    </div>
                </div>
                <div class='container col-md-4 col-sm-4 col-xs-12'>
                    <div class='holder col-md-8 col-sm-9 col-xs-12'>
                        Amount due: 
                    </div>
                    <div class='client col-md-12 col-sm-12 col-xs-11'>
                        <%= link_to client.bills.where(paid: false).sum(:total), 
                                    bills_show_path(client.id) %>
                    </div>
                </div>
                <div class='container col-md-3 col-sm-4 col-xs-12'>
                    <div class='holder col-md-8 col-sm-9 col-xs-12'>
                        Billing Status: 
                    </div>
                    <div class='client col-md-12 col-sm-12 col-xs-11'>
                        <% if client.bills.count == 0 %>
                            No Bills
                        <% elsif @billTotal == 0 %>
                            Paid
                        <% else %>
                            Bills Due
                        <% end %>
                    </div>
                </div>
                <div class='container col-md-4 col-sm-5 col-xs-12'>
                    <div class='holder col-md-8 col-sm-8 col-xs-12'>
                        Previous Work: 
                    </div>
                    <div class='client col-md-12 col-sm-12 col-xs-11'>
                        <% if client.previous_work == '' %>
                            Not Specified
                        <% else %>
                            <%= client.previous_work %>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <div class='client link col-md-4 col-sm-4 col-xs-11'>
                    Edit this client to add more information to their profile!
                </div>
            <% end %>
        </div>
    </div>
    <div class='delete holder pull-right col-md-2 col-sm-3 col-xs-6 message-holder'>
        <%= link_to 'Message |', messages_new_path(client.id), 
                                 title: "Message Client" %>
        <%= link_to 'Bill |', bills_new_path(client.id), title: "Bill Client" %>
        <%= link_to 'Edit |', clients_edit_path(client.id), 
                              title: "Edit Client" %>
        <%= link_to 'Delete', client, method: :delete, title: "Delete Client",
                                  data: { confirm: 'You sure?' } %>
    </div>
</div>