<% provide(:title, 'Clients') %>
<div class='container col-md-12 col-sm-12 col-xs-12'>
    <div class='col-md-12 col-sm-10 col-xs-12'>
        <h1 class='enter'>Clients</h1>
    </div>
    <div class='col-md-12 col-sm-10 col-xs-12'>
        <div class='pull-right para'>
            <%= link_to '+', clients_new_path, title: 'New Client' %>
        </div>
    </div>
    <div class='col-md-12 col-sm-10 col-xs-12 holder'>
        <div class='container col-md-2 col-sm-2 col-xs-2 sidebar'>
            
        </div>
        <div class='container message-holder center col-md-10 col-sm-10 col-xs-10'>
            <% if @clients.count == 0 %>
                <h3 class='col-md-12 col-sm-11 col-xs-12 para client center'>
                    No Clients
                </h3>
            <% else %>
                <%= will_paginate %>
                
                <%= render @clients %>
                
                <%= will_paginate %>
            <% end %>
        </div>
    </div>
</div>