<% provide(:title, @client.name) %>
<div class='col-md-12 col-sm-12 col-xs-12'>
    <%= link_to 'All Clients', clients_url %>
    <h1 class='enter col-md-12 col-sm-12 col-xs-12'>Client Profile</h1>
    <%= render @client %>
    
    <% if @client.messages.count == 0 %>
        <h3 class='user col-md-12 col-sm-12 col-xs-12'>No messages with <%= @client.name %></h3>
    <% else %>
        <h3 class='user col-md-12 col-sm-12 col-xs-12'>Messages with <%= @client.name %></h3>
        <%= render @messages %>
    <% end %>
    <%= render 'shared/message_reply' %>
</div>