<div class='col-md-12 col-sm-12 col-xs-12 center client-holder'>
    <div class='col-md-2 col-sm-2 col-xs-12 center holder' 
         style='margin-top: 1px; padding-bottom: 2vw;'>
            <h5 class='link col-md-12 col-sm-12 col-xs-12' 
                style='margin-top: 2vw;'></h5>Update Status:</h5>
            <% if bill.paid == false %>
                <%= form_for(bill) do |f| %>
                  <%= f.hidden_field :paid, value: true %>
                  <%= f.submit 'Paid', title: 'Bill has been paid',  
                                       :class=> "client task-bubble link" %>
                <% end %>
            <% else %>
                <%= form_for(bill) do |f| %>
                  <%= f.hidden_field :paid, value: false %>
                  <%= f.submit 'Due', title: 'Bill is due',  
                                      :class=> "client task-bubble link due" %>
                <% end %>
            <% end %>
            <%= form_for(bill) do |f| %>
              <%= f.hidden_field :sent, value: true %>
              <%= f.submit 'Send', title: 'Send Bill Notification',  
                                   :class=> "client task-bubble link" %>
            <% end %>
    </div>
    <div class='col-md-9 col-sm-9 col-xs-12 name form-input'>
        <div>
            <h3 class='col-md-2 col-sm-5 col-xs-12' style='margin-left: 5px'>
                 $<%= link_to bill.total, bill_path(bill.client.id), 
                                          title: 'Client Profile'  %>
            </h3>
        </div>
        <div class='container col-md-2 col-sm-6 col-xs-12'>
            <div class='holder col-md-10 col-sm-5 col-xs-12'>Client: </div> 
            <div class='client col-md-12 col-sm-12 col-xs-11'>
                <%= link_to bill.client.name, client_path(bill.client) %>
            </div>
        </div>
        <div class='container col-md-2 col-sm-6 col-xs-12'>
            <div class='holder col-md-10 col-sm-5 col-xs-12'>Sent: </div> 
                <% if bill.sent == true %>
                <div class='client col-md-12 col-sm-12 col-xs-11'>
                    Yes
                 </div>
            <% else %>
                <div class='client due col-md-12 col-sm-12 col-xs-11'>
                    No
                 </div>
            <% end %>
        </div>
        <div class='container col-md-2 col-sm-6 col-xs-12'>
            <div class='holder col-md-12 col-sm-6 col-xs-12'>Paid: </div> 
            <% if bill.paid == true %>
                <div class='client col-md-12 col-sm-12 col-xs-11'>
                    Yes
                 </div>
            <% else %>
                <div class='client due col-md-12 col-sm-12 col-xs-11'>
                    No
                 </div>
            <% end %>
        </div>
        <div class='container col-md-3 col-sm-12 col-xs-12'>
            <div class='holder col-md-8 col-sm-5 col-xs-12'>Comments: </div> 
            <div class='client col-md-12 col-sm-12 col-xs-11'>
                <% if bill.comments == '' %>
                    No Comments
                <% else %>
                    <%= bill.comments %>
                <% end %>
            </div>
        </div>
    </div>
    <div class='delete holder pull-right col-md-2 col-sm-3 col-xs-6'>
        <%= link_to 'Edit |', bills_edit_path(bill.id), title: 'Edit Bill' %>
        <%= link_to 'Delete |', bill, method: :delete, title: 'Delete Bill', 
                                data: { confirm: 'You sure?' } %>
        <%= link_to "Client's Bills", bills_show_path(bill.client.id), 
                                      title: "Client's Bills"  %>
    </div>
</div>