<% provide(:title, 'Bills') %>
<div class='container col-md-12 col-sm-12 col-xs-12'>
    <div class='col-md-12 col-sm-11 col-xs-12'>
        <h1 class='enter'>Bills</h1>
    </div>
    <div class='col-md-2 col-sm-4 col-xs-4'>
        <h3 class='para link pull-left'>Due (<%= Bill.where(paid: false).count %>)</h3>
    </div>
    <div class='col-md-10 col-sm-8 col-xs-8'>
        <div class='pull-right para'>
            <%= link_to '+', bills_new_path, title: 'New Bill' %>
        </div>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12 holder'>
        <div class='container message-holder col-md-11 col-sm-12 col-xs-12'>
            <% if @bills.count == 0 %>
                <h3 class='col-md-12 col-sm-11 col-xs-12 para client center'>
                    No bills to be paid
                </h3>
            <% else %>
                <%= will_paginate %>
                
                <%= render @bills %>
                
                <%= will_paginate %>
            <% end %>
        </div>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12 pull-left'>
        <h3 class='para link pull-left'>All Bills (<%= Bill.count %>)</h3>
    </div>
    <div class='col-md-12 col-sm-112 col-xs-12 holder'>
        <div class='container message-holder col-md-11 col-sm-10 col-xs-10'>
            <% if @billsAll.count == 0 %>
                <h3 class='col-md-12 col-sm-11 col-xs-12 para client center'>
                    No bills
                </h3>
            <% else %>
                <%= will_paginate %>
                
                <%= render @billsAll %>
                
                <%= will_paginate %>
            <% end %>
        </div>
    </div>
</div>