<% provide(:title, 'Bill for ' + @client.name) %>
<div class='pull-left'>
    <%= link_to 'All Bills', bills_url %>
</div></br>
<h1 class='enter'>Bills for <%= @client.name %></h1>
<div class='col-md-12 col-sm-12 col-xs-12'>
    <%= render @client.bills %>
</div>
