<div class='pull-left col-md-4 col-sm-12 col-xs-12'>
    <div class='holder col-md-12 col-sm-12 col-xs-12'>
        <% if document.img.present? %>
            <%= link_to documents_show_path(document), title: 'Document' do %>
              <%= image_tag(document.img.url, :class => 'col-md-12 col-sm-12 col-xs-12') %>
            <% end %>
        <% else %>
            <%= link_to documents_show_path(document), title: 'Document' do %>
              <%= image_tag('sample.png', :class => 'col-md-12 col-sm-12 col-xs-12') %>
            <% end %>
        <% end %>
    </div>
    <h3 class='para col-md-12 col-sm-12 col-xs-12'>
        <%= document.name %>
    </h3>
    <p class='link col-md-12 col-sm-12 col-xs-12'>
        <%= document.tags %>
    </p>
     <div class='delete document-action holder pull-right col-md-10 col-sm-10 col-xs-10'>
        <%= link_to 'Edit |', documents_edit_path(document.id), title: 'Edit Document' %>
        <%= link_to 'Delete', document, method: :delete, title: 'Delete Document', 
                                data: { confirm: 'You sure you would like to delete this Document?' } %>
    </div>
</div>