<% provide(:title, 'Documents') %>
<div class='container col-md-12 col-sm-11 col-xs-12'>
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <h1 class='enter'>Documents</h1>
    </div>
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <div class='pull-right para'>
            <%= link_to '+', documents_new_path, title: 'New Document' %>
        </div>
    </div>
    <div class='col-md-12 col-sm-11 col-xs-12 holder'>
        <div class='center photo-holder col-md-9 col-sm-9 col-xs-9'>
            <% if @documents.count == 0 %>
                <h3 class='col-md-12 col-sm-12 col-xs-12 para client center'>
                    No Documents
                </h3>
            <% else %>
                <%= will_paginate %>
                
                <%= render @documents %>
                
                <%= will_paginate %>
            <% end %>
        </div>
    </div>
</div>