<% provide(:title, 'Documents') %>
<div class='pull-left'>
    <%= link_to 'All Documents', documents_url %>
</div></br>
<div class='col-md-12 col-sm-12 col-xs-12 center document-holder'>
    <%= render @document %>
</div>
