<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Incoming message from <%= @message.name %></h1>
    <p>
          <%= @message.message %>
    </p>
  </body>
</html>
