@import 'bootstrap-sprockets';
@import 'bootstrap';

//Images
.enter-img {
  z-index: -1;
  position: relative; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 30%;
  min-height: 30%;
  max-width: 70%;
  max-height: 70%;
  margin-top: -10vw;
  margin-bottom: 4vw;
}

.bio-img {
  max-width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}

.bio-img img {
  margin-top: 2vw;
}

.check-img {
  max-width: 7%;
  margin-right: 10px;
  margin-top: 11px;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
}

.logo-img {
  max-width: 10%;
  margin-right: 10px;
  margin-top: 13px;
}

.resume-img {
  margin-top: 5em;

}

.social_img {
  max-width: 5%;
}

.port-img {
  max-width: 10%;
  margin-top: -5%;
}

//Header
.dropdown-toggle > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}

.dropdown-toggle > li > a:click, .dropdown-menu > li > a:focus {
    background-color: #A5FADA ;
}

.menu {
  font-family: "Futura", sans-serif;
  margin-top: 11px;
  margin-bottom: 11px;
  background: #A5FADA;
  border-radius: 2px;
}
.navbar {
  background: white;
  border-color: white;
}

//Html Elements
a {
  font-family: "Futura", sans-serif;
  color: grey;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  &:hover {
    text-decoration: none;
    color: #A4CBFB;
  }
  
}

body {
  margin-top: 150px;
  padding: 20px;
  background: #FCFAF7;
}

header {
  a {
    color: $gray;
    &:hover {
      color: #A4CBFB;
    }
  }
}

footer {
  margin-top: 150px;
  padding-top: 5px;
  overflow: hidden;
  font-size: 1em !important;;
  font-family: "Futura", sans-serif;
  border-top: 2px solid #A5FADA;
  color: $gray-light !important;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

h1 {
  color: #FBBA87 !important;
}

li {
  font-family: "Univers", sans-serif;
  font-size: 1.5em;
}

//Html form elements
select {
  border: 2px solid #A5FADA;
  border-radius: 5px;
}

textarea {
  border: 1px solid #A5FADA ;
  border-radius: 2px;
}

//Text
.bio {
  font-family: "Univers", sans-serif;
  font-size: 1.5em;
  margin: 10px;
}

.center {
  text-align: center;
}

.content {
    position: relative;
}
.content img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.delete {
  font-family: "Futura", sans-serif;
  margin: 10px;
  margin-top: 2vw;
}

.enter {
  font-family: "Futura", sans-serif;
  font-size: 2.7em;
  margin-bottom: 30px;
  margin-top: 5vw;
  text-align: center;
  color: black;
}

.foot-text {
  font-size: 100% !important;
  color: grey !important;
}

.landing {
  font-size: 1.3em;
  margin-bottom: 2em;
}

.legacy {
  color: #FBBA87;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: grey;
  margin-top: 40px;
  line-height: 120%;
}

.list {
  margin: 1em;
  line-height: 140%;
}

.para {
  font-family: "Futura", sans-serif;
  text-decoration: none;
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
}

.port {
  z-index: 100;
  width: 100%;
  position: relative;
  margin-top: -32vw;
  color: grey;
}

.port-title {
  font-size: 4em; 
  z-index: 100; 
  margin-top: -6vw;
  margin-bottom: 1vw;
  font-weight: bold;
  background: grey;
  border-radius: 5px;
  padding: 1vw;
  border: 8px solid #FBBA87;
}

.port-link {
  z-index: 100; 
  text-decoration: none;
}

.port-hover {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 50%;
}

.port1 {
  position: absolute;
  transition: opacity 1s;
}

.port2 {
  position: absolute;
  transition: opacity 1s;
}

.port-hover:hover .port1 {
  opacity: 0;
}

.port-hover:hover .port2 {
  opacity: 1;
}

div.port2 {
  opacity: 0;
}

div.port1 {
  opacity: 1;
  margin-top: -4vw;
}

.title {
  font-family: "Futura", sans-serif;
  color: grey;
}

.user {
  text-align: center;
  font-family: "Univers", sans-serif;
  margin: 15px;
}

//Containers
.buffer {
  padding-right: 5vw;
  margin-right: 8vw;
}

.client {
  border: 2px solid #A5FADA;
  border-radius: 4px;
  font-family: "Futura", sans-serif;
  background: #A5FADA;
  padding: 1vw;
}

.client-holder {
  margin-bottom: 3vw;
}

.col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.contact-message {
  border: 2px solid #A5FADA ;
  border-radius: 2px;
  float: left;
  font-family: "Futura", sans-serif;
  font-size: 1em;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-left: 30px;
}

.document-holder{
   position: relative;
   margin-left: 30%;
   margin-right: 30%;
}

.document-action {
  margin-left: 2vw;
}

.due {
  border: 2px solid #FFE7A4;
  background: #FFE7A4;
}

.header-link {
  min-width: 105%; 
  margin-left: -2vw; 
  background: #A5FADA; 
  padding: 1vw;
}

.holder {
  border: 2px solid grey;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
}

.message {
    margin-top: 10px;
}

.message-holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

.name {
  border: 2px solid #A5FADA;
  margin-top: 10px;
  font-family: "Univers", sans-serif;
  font-size: 1em;
  padding: 15px;
}

.photo-holder {
  position: relative;
  margin: 5vw;
  padding-left: 7vw;
}

.resume {
  list-style-type: none;
  padding: 2vw;
  margin-top: 4vw !important;
  margin-bottom: 1vw !important;
}

.resume-holder {
  background: white;
  border-radius: 10px;
  padding: 2vw;
  border: 2px solid #A5FADA;
}

.task-bubble {
  border-radius: 40px;
  &:hover {
    text-decoration: none;
    color: #A5FADA;
  }
}

.user-header {
  border-bottom: 2px solid #A5FADA;
}

.webinar {
  border-radius: 10px;
  font-family: "Futura", sans-serif;
  background: #A5FADA;
  margin-bottom: 5em !important;
}


//Forms
.button {
  font-family: "Univers", sans-serif;
  background-color: black;
  margin-top: 10px;
}

.form-label {
  font-family: "Univers", sans-serif;
  font-size: 1.2em;
  margin-top: 30px;
}

.form-input {
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #A5FADA;
}

.text-input {
  height: 20vw;
  width: 50vw;
  position: center;
}

//Main Logo Id
#logo {
  margin: 10px;
  margin-left: -20px;
  float: left;
  font-size: 1.7em;
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .check-img {
    max-width: 10%;
  }
}

@media screen and (min-width: 1000px) {
  body { 
    float: center;
    margin-left: 3vw;
    margin-right: 5vw;
  }
  .client {
    margin: 20px;
  }
  
  .contact-message {
    margin-top: 20px;
  }
  
  .holder {
    margin: 15px;
  }
  
  #logo {
    margin-top: 20px;
  }

  .message-holder {
    margin: 30px;
  }
  
  .title {
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .port-title {
    font-size: 3em;
  }
  .check-img {
    max-width: 10%;
  }
  .logo-img {
    display: none;
  }
  .social_img {
    max-width: 8%
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 1vw;
  }
  
  .buffer{
    margin-right: 0vw;
  }
  
  .client {
    margin: 2vw;
    border: none;
  }
  
  .client-holder {
    margin-left: 10px;
  }
  
  .delete {
    margin-top: 2vw;
  }
  
  .holder {
    margin: 0vw;
  }
  
  header {
    max-height: 300px;
  }

  li {
    font-size: 1em;
  }
  
  #logo {
    margin-top: 3px;
    text-align: center;
    margin-right: 0px;
    font-size: 1.5em;
  }
  
  .menu {
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  .message-holder {
    margin: 5px;
    margin-left: -5px;
    margin-right: -12px;
  }
  
  .port-link {
    margin-top: -32vw;
  }
  
  .title {
    height: 30px;
  }
  div.port1 {
    margin-top: -15vw;
  }
  .social_img {
    max-width: 10%
  }
}

@media screen and (max-width: 450px) {
  .port-title {
    font-size: 1.5em;
  }

  .check-img {
    max-width: 18%;
  }
  
  .client-holder {
    width: 200px;
  }
  
  .port-img {
    max-width: 17%;
    z-index: 100;
  }
  
  .port1 {
    z-index: 100;
    margin-top: -10vw;
  }
  
  .port2 {
    margin-top: -5vw;
  }
  
  .enter-img {
    z-index: 1;
    max-width: 100%;
    margin-top: -20vw;
  }
  
  .gail-img {
    width: 80%;
  }
  .social_img {
    max-width: 20%
  }
}

@media screen and (min-width: 450px) {
  body {
    margin-top: 80px;
  }
}





