<footer class="footer container col-md-12 col-sm-12 col-xs-12">
  <small>
    <div class='foot-text foot col-md-4 col-sm-6 col-xs-6'>
      Discover Family History | Gail Shaffer Blankenau
    </div>
    <nav class='foot-nav col-md-8 col-sm-6 col-xs-6'>
      <ul class='col-md-8 col-sm-12 col-xs-12 pull-right'>
        <li class='pull-right social_img col-md-4 col-sm-6 col-xs-12'>
              <%= link_to 'https://www.facebook.com/discoveringfamilyhistory/', title: 'Discover Family History on Facebook' do %>
                <%= image_tag('book.jpg') =%>
              <% end %>
        </li>
        <li class='pull-right social_img col-md-4 col-sm-6 col-xs-12'>
              <%= link_to 'https://twitter.com/GailBlankenau', title: 'Discover Family History on Twitter' do %>
                <%= image_tag('bird.jpg') =%>
              <% end %>
        </li>
        <li class='foot-text pull-right'><%= link_to "Contact", contact_path, title: 'Send A Message' %></li>
        <li class='foot-text pull-right'><%= link_to "About",   about_path, title: 'About' %></li>
      </ul>
    </nav>
  </small>
</footer>
