<header class='navbar navbar-fixed-top navbar-inverse col-md-12 col-sm-12 col-xs-12'>
  <div class='container'>
    <div class='col-md-8 col-sm-8 col-xs-7'>
      <%= image_tag('logo.png', :class => 'col-md-1 col-sm-2 col-xs-3 logo-img') =%>
      <div class='col-md-9 col-sm-7 col-xs-12'>
        <%= link_to 'Discover Family History', home_path, id: 'logo' %>
      </div>
    </div>
    <nav class='col-md-4 col-sm-4 col-xs-5 pull-right'>
      <ul class='nav navbar-nav navbar-right'>
       <li class="dropdown menu">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu
        <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Home', home_path %></li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'Resume', resume_path %></li>
                <li><%= link_to 'Services', services_path %></li>
                <li><%= link_to 'Contact Me', contact_path %></li>
            </ul>
      </li>
    </ul>
    </nav>
  </div>
  <a class='header-link center col-md-12 col-sm-12 col-xs-12' href='https://familytreewebinars.com/gailblankenau'>Click here to subsrcibe to Legacy Family Tree and see webinars featuring Gail!</a>
</header>
